body {
    background-color: #fffbf7;

    /*Centra todos los elementos de mi documento*/
    text-align: center;
}

h1 {
    color: #46484c;
    text-align: center;
    font-size: 2.5em;
}

p {
    color: #3a3838cc;
    font-family: verdana;
    font-size: 1em;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    /*
    background-color: red;
    border: 5px solid green;
    */
}

#txtBoxEmail{
    font-family: verdana;   
    font-size: 1em;
    text-align: center;
    border-radius:5px 0px 0px 5px;
    /*How to resize dynamically*/
    height: 42px;
}

button {
    color: #fff;
    background-color: #0b6268;
    text-align: center;
    font-size: 1em;
    height: auto;
    width: 8%;
    border: none;
    border-radius:0px 5px 5px 0px;
}


/*Images*/

.images{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*
    background-color: rebeccapurple;
    */
}

#terra{
    width:20%;
    height: auto;
}

#group_image{
    width: 75%;
    height: auto;
}

#logo_matcha{
    width: auto;
    height: auto;
}